@page "/"

<PageTitle>SISTEMA DE ENLACE</PageTitle>
<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado, @context.User.Identity?.Name </p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>

</AuthorizeView>
<div style="color:gray">
    <h1 style="color:gray">FUNDACIONES ALIADAS POR UN FUTURO </h1>

BIENVENIDO AL SISTEMA DE ENLACE;

    



</div>

<style>
    body {
       
        background-image: url('images/las-fundaciones-se-unen-para-lograr-las-metas-de-desarrollo-sustentable.jpg');;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        margin: 0;
    }
</style>
