@page "/"

<PageTitle>SISTEMA DE ENLACE</PageTitle>
<AuthorizeView Roles="User,Admin">
    <Authorized>
        <p>Estas autenticado, @context.User.Identity?.Name </p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>

</AuthorizeView>
<div style="color:red">
    <h1 style="color:red">Sistema de tutores de Medellín.</h1>



    



</div>

<style>
    body {
       
        background-image: url('images/index.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        margin: 0;
    }
</style>
