@page "/"

<PageTitle>Jovenes :(</PageTitle>

<h1>Estoy cansado de la vida!</h1>

formal/fatal error


<style>
    body {
        
        background-image: url('images/armpg9d_700b.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        margin: 0;
    }
</style>
