@page "/Conversaciones"
@using SistemaEnlace.Shared.Entities;
@using SistemaEnlace.WEB.Repositories
@using SistemaEnlace.WEB.Shared
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject IRepository repository

<h1>CONVERSACIONES</h1>
<div class="mb-3">
    <a class="btn btn-primary" href="/Conversaciones/create">Nuevo Registro</a>
</div>


<GenericList MyList="conversacions">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>TUTORES</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in conversacions!)
                {
                    <tr>
                        <td>
                        <th>ID DE CONVERSACION</th>
                            @item.Id
                        </td>
                        <td>
                        <th>ID JOVEN</th>
                            @item.JovenVulnerableid
                        </td>
                        <td>
                        <th>ID TUTOR</th>
                            @item.Tutorid
                        </td>
                        <td>
                            <a href="/Conversaciones/editar/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                            <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </Body>

</GenericList>





@code {

    public List<Conversacion> conversacions { get; set; }


    protected async override Task OnInitializedAsync()
    {


        await LoadAsync();



    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Conversacion>>("/api/Conversaciones");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        conversacions = responseHttp.Response;
    }
    private async Task DeleteAsycn(Conversacion conversaciones)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar la conversacion con id : {conversaciones.Id}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)

        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Tutor>($"/api/Conversaciones/{conversaciones.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Conversaciones");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }


}

