@page "/Jovenes/editar/{id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (jovenVulnerable is null)
{
    <p>Cargando...</p>
}
else
{
    <JovenesForm jovenVulnerables="jovenVulnerable" OnSubmit="ConfirmarEdicion" ReturnAction="Return" />
}

@code {
    [Parameter]
    public int id { get; set; }
    private JovenVulnerable jovenVulnerable;
    private JovenesForm jovenesForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<JovenVulnerable>($"/api/JovenVul/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Jovenes");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            jovenVulnerable = responseHttp.Response;
        }
    }

    private async Task ConfirmarEdicion()
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmar Edición",
                Text = "¿Deseas guardar los cambios?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, guardar",
                CancelButtonText = "No, cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await Editar();
        }
    }

    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/JovenVul", jovenVulnerable);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = false,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");

        Return();
    }

    private void Return()
    {
        navigationManager.NavigateTo("/Jovenes");
    }
}
