@page "/Jovenes"
@using SistemaEnlace.Shared.Entities;
@using SistemaEnlace.WEB.Repositories
@using SistemaEnlace.WEB.Shared
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject IRepository repository

<h1>Jovenes Vulnerables</h1>
<div class="mb-3">
   <a class="btn btn-primary" href="/Jovenes/create">Nuevo Registro</a>
</div>


<GenericList MyList="jovenVulnerables">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>JOVENES</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in jovenVulnerables!)
                 {
                     <tr>
                        <td>
                        <th>NOMBRE</th>
                            @item.id
                        </td>
                        <td>
                        <th>ESPECIALIDAD</th>
                            @item.Nombre
                        </td>
                        <td>
                        <th>LISTA DE MIEMBROS</th>
                            @item.Apellidos
                        </td>
                           <td>
                            <a href="/Jovenes/editar/@item.id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                            <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                         </td>
                    </tr>
                  }
            </tbody>
            
        </table>

    </Body>

</GenericList>





@code {
    
    public List<JovenVulnerable> jovenVulnerables { get; set; }


    protected async override Task OnInitializedAsync()
    {
     

        await LoadAsync();

   
    
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<JovenVulnerable>>("/api/JovenVul");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        jovenVulnerables= responseHttp.Response;
    }
    private async Task DeleteAsycn(JovenVulnerable jovenVulnerables)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el Joven con nombre: {jovenVulnerables.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<JovenVulnerable>($"/api/JovenVul/{jovenVulnerables.id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Jovenes");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }


}

