@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
     
        <div class="top-row px-4">
            <AuthLinks />
            <a href="https://www.youtube.com/watch?v=09m0B8RRiEE&t=123s" target="_blank">clickee aqui para inspiracion</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
