
@page "/Fundaciones/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertServices

<h3>FUNDACION NEW</h3>



<FundacionesForm fundacion="fundaciones" OnSubmit="Create" ReturnAction="Return">





</FundacionesForm>



@code {
    private Fundacion fundaciones = new();
   
    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Fundacion", fundaciones);

        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessage();
            await sweetAlertServices.FireAsync("Error","prueba", message);
            return;
        }
        navigationManager.NavigateTo("/Fundaciones");

    }

    private void Return()
    {
        navigationManager.NavigateTo("/Fundaciones");
    }

}
