@using SistemaEnlace.Shared.Entities
@using SistemaEnlace.WEB.Shared
@using SistemaEnlace.WEB.Repositories
@inject SweetAlertService sweetAlertService
@inject IRepository repository

<EditForm Model="fundacion" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="id">ID: </label>
        <div>
            <InputNumber id="id" @bind-Value="fundacion.Id" />
            <ValidationMessage For="@(() => fundacion.Id)" />
        </div>
    </div>

    <div class="mb-3">
        <label for="nombre">Nombre: </label>
        <div>
            <InputText id="nombre" @bind-Value="fundacion.Name" placeholder="Nombre" />
            <ValidationMessage For="@(() => fundacion.Name)" />
        </div>
    </div>

    <div class="mb-3">
        <label for="descripcion">Descripción: </label>
        <div>
            <InputText id="descripcion" @bind-Value="fundacion.Description" placeholder="Descripción" />
            <ValidationMessage For="@(() => fundacion.Description)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" type="button" @onclick="HandleReturnAction">Regresar</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" /> Limpiar</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    protected override void OnInitialized()
    {
        editContext = new EditContext(fundacion);
    }

    [EditorRequired]
    [Parameter]
    public Fundacion fundacion { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task HandleSubmit()
    {
        if (OnSubmit.HasDelegate)
        {
            await OnSubmit.InvokeAsync(null);
        }
    }

    private async Task HandleReturnAction()
    {
        if (ReturnAction.HasDelegate)
        {
            await ReturnAction.InvokeAsync(null);
        }
    }
}
